// Add your custom CSS here


img {
    max-width: 100%;
}


h1, h2, h3, h4, h5, h6 {font-family: 'Montserrat', sans-serif !important; letter-spacing: normal !important;}
body {font-family: 'Crimson Text', serif !important; font-size: 1.5em !important;}
.item-file.image-jpeg {margin-bottom: 10px;}
.element-text {font-size: 1.2em !important;}

a {
	word-wrap: break-word;
}

@media all { 
 .featherlight .featherlight-content {
  padding: 0;
  border: none;

  min-width: inherit;
 }

 .featherlight .featherlight-image {
    max-width: 100%;  
    border: 20px solid #fff;
 }
}

@media only screen and (max-width: 1024px) {
 .featherlight .featherlight-content {
  padding: 0;
  border: none;
 }
}